@font-face {
    font-family: "Inter"; 
    src: url("../../fonts/Inter-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 900; 
} 

@font-face {
    font-family: "Inter"; 
    src: url("../../fonts/Inter-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
}

@font-face {
    font-family: "Inter"; 
    src: url("../../fonts/Inter-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

body {
    background-color: #2A2C2F;
    font-family: "Inter", sans-serif;
    color: white;
}