.intro {
    padding-top: 92px;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .intro {
        max-width: 928px;
    }
} 

@media screen and (max-width: 1024px) {
    .intro {
        padding-top: 88px;
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 550px;
    }
} 

@media screen and (max-width: 550px) {
    .intro {
        padding-top: 64px;
        max-width: 288px;
    }
}