.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 12px;
}

@media screen and (max-width: 550px) {
    .place__website {
        margin: 0 16px;
    }
}